<div class="container">
  <div class="col-md-12">
    <div class="card bg-dark my-5">
      <div class="card-body">
        <h2 class="card-title text-center text-white py-3">Recruitment Office</h2>
        <ul class="text-center list-inline py-3">
          <li class="list-inline-item">
            <a routerLink="/records" class="btn btn-info">List Records</a>
          </li>
          <li class="list-inline-item">
            <a routerLink="/recordStatuses" class="btn btn-info">List Record Statuses</a>
          </li>
          <li class="list-inline-item">
            <a routerLink="/submissions" class="btn btn-info">List Submissions</a>
          </li>
          <li class="list-inline-item">
            <a routerLink="/files" class="btn btn-info">List Files</a>
          </li>
          <li class="list-inline-item">
            <a routerLink="/upload" class="btn btn-info">Upload File</a>
          </li>
        </ul>
      </div>
    </div>
    <router-outlet></router-outlet>
  </div>
</div>
